@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --orange-60: 31, 100%, 49%;
  --dark: 0, 0%, 0%;
  --gray-50: 240, 5%, 50%;
  --primary: 338, 74%, 53%;
  --white: 0, 0%, 100%;

  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

section {
  margin: clamp(64px, calc(4.57vw + 45.71px), 128px) 0;
}

.fluid {
  max-width: 100%;
}

.btn {
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
}

.btn-primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--white));
}

.btn-secondary {
  color: hsl(var(--dark));
  background-color: transparent;
  border: 1px solid hsl(var(--primary));
}

.container {
  width: clamp(320px, 80vw, 1440px);
  margin: 0 auto;
}

@keyframes dissapear {
  0% {
    display: initial;
  }
  100% {
    display: none;
  }
}

.hidden {
  display: none !important;
}

/* header section */
header {
  position: relative;
  margin-top: clamp(36px, calc(5.09vw + 6.66px), 80px);
}

header nav {
  display: flex;
  align-items: center;
  position: relative;
}

header .nav-links {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
  background-color: hsl(var(--white));
  transition: all 0.2s ease-in-out;
}

header .nav-links .link {
  padding: 2px 0;
  border-bottom: 1px solid hsl(var(--dark));
}

header .nav-links .link:first-child {
  border-top: 1px solid hsl(var(--dark));
}

header .menu {
  margin-right: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header .brand {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  margin: 0 auto;
}

header .nav-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header .banner {
  margin-top: clamp(20px, calc(2.69vw + 9.23px), 48px);
  display: flex;
  flex-direction: column;
  gap: clamp(16px, calc(3.07vw + 3.69px), 48px);
}

header .image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  background: url("./images/icons/circle-design.svg") center center;
  background-size: cover;
}

header .image img {
  position: absolute;
  top: 48%;
  left: 52%;
  transform: translate(-50%, -50%);
}

header .content {
  text-align: center;
}

header .content h1 {
  font-size: clamp(28px, calc(2.3vw + 18.76px), 52px);
}

header .content p {
  margin: 1rem auto 1.25rem;
}

header .sponsors {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

header .sponsors li {
  width: 80px;
}

/* Popular section */
#popular h2 {
  font-size: clamp(24px, calc(0.76vw + 20.92px), 32px);
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

#popular .products {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(299px, 1fr));
  gap: clamp(16px, calc(1.53vw + 9.84px), 32px);
}

#popular .products li {
  padding: 8%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

#popular .products li:hover {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  transform-origin: center center;
  transform: scale(1.02);
  transition: 0.2s transform ease-in;
}

#popular .products .fluid {
  width: 100%;
}

#popular .products h3 {
  margin: 16px 0 0;
  font-size: clamp(20px, calc(0.76vw + 16.92px), 28px);
  text-transform: capitalize;
}

#popular .products .price {
  margin: 8px 0 2px;
  font-size: 20px;
  font-weight: 500;
}

#popular .products .rating {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#popular .rating .stars {
  margin: 4px 0 0;
  display: inline-block;
}

#popular .products p {
  margin: 4px 0;
  color: hsl(var(--gray-50));
}

#popular .see-more {
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#popular .see-more .btn {
  cursor: pointer;
  background: transparent;
  color: hsl(var(--primary));
}

@media screen and (min-width: 1192px) {
  #popular {
    margin-bottom: clamp(200px, calc(9.8vw + 82.35px), 240px);
  }
  #popular .see-more {
    padding: 2rem 0 !important;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
  }
}

/* Promotion section */
#promotion .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(32px, calc(3.07vw + 19.69px), 64px);
  text-align: center;
}

#promotion h2 {
  font-size: clamp(24px, calc(0.76vw + 20.92px), 32px);
  font-weight: 600;
}

#promotion p {
  margin: clamp(16px, calc(1.53vw + 9.84px), 32px) 0 clamp(20px, calc(1.92vw + 12.3px), 40px);
}

@media screen and (min-width: 992px) {
  #promotion .container {
    flex-direction: row-reverse;
  }

  #promotion .image {
    width: min(600px, 40%);
    flex-shrink: 0;
  }
}

/* footer section */
footer {
  padding: 3rem 0;
  background-color: #0a0826;
  color: hsl(var(--white));
  text-align: center;
}

footer h2 {
  font-size: clamp(24px, calc(0.76vw + 20.92px), 32px);
}

footer p {
  line-height: 2;
  margin-bottom: 2rem;
}

footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(16px, calc(1.53vw + 9.84px), 32px);
}
